
@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/Layouts/_UserPageLayout.cshtml";
}
<div id="content">
    <div class="container">

        <div class="row">


            <div class="col-md-offset-3 col-md-6">
                <div class="box">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @if (ViewBag.Sonuc != null)
                            {
                                <div class="alert alert-info" role="alert">@ViewBag.Sonuc</div>
                            }
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <label for="email-label">Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main">
                                <i class="fa fa-sign-in"></i> Şifre Kurtarma
                            </button>

                        </div>
                    }
                    </div></div></div></div></div>