<div class="map">
    <div id="google-map" class="map_model" data-zoom="11"></div>
    <ul class="map_locations">
        <li data-x="-73.9874068" data-y="40.643180" data-basic="../images/gmap_marker.png" data-active="../images/gmap_marker_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    BUSINESS
                    <small>
                        COMPANY
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Free phone: </dt>
                        <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                    </dl>
                    <dl>
                        <dt>Address: </dt>
                        <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                    </dl>
                    <dl>
                        <dt>Hours: </dt>
                        <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:#">info@demolink.org</a></dd>
                    </dl>
                </address>

            </div>
        </li>
        <li data-x="-74.100000" data-y="40.643180" data-basic="../images/gmap_marker2.png" data-active="../images/gmap_marker2_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    flooring
                    <small>
                        RETAILER
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Free phone: </dt>
                        <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                    </dl>
                    <dl>
                        <dt>Address: </dt>
                        <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                    </dl>
                    <dl>
                        <dt>Hours: </dt>
                        <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:#">info@demolink.org</a></dd>
                    </dl>
                </address>

            </div>
        </li>
        <li data-x="-73.8854068" data-y="40.693180" data-basic="../images/gmap_marker3.png" data-active="../images/gmap_marker3_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    flooring
                    <small>
                        RETAILER
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Free phone: </dt>
                        <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                    </dl>
                    <dl>
                        <dt>Address: </dt>
                        <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                    </dl>
                    <dl>
                        <dt>Hours: </dt>
                        <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:#">info@demolink.org</a></dd>
                    </dl>
                </address>

            </div>
        </li>
        <li data-x="-73.7874068" data-y="40.613180" data-basic="../images/gmap_marker4.png" data-active="../images/gmap_marker4_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    flooring
                    <small>
                        RETAILER
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Free phone: </dt>
                        <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                    </dl>
                    <dl>
                        <dt>Address: </dt>
                        <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                    </dl>
                    <dl>
                        <dt>Hours: </dt>
                        <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:#">info@demolink.org</a></dd>
                    </dl>
                </address>

            </div>
        </li>
        <li data-x="-74.200000" data-y="40.683180" data-basic="../images/gmap_marker5.png" data-active="../images/gmap_marker5_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    flooring
                    <small>
                        RETAILER
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Free phone: </dt>
                        <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                    </dl>
                    <dl>
                        <dt>Address: </dt>
                        <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                    </dl>
                    <dl>
                        <dt>Hours: </dt>
                        <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:#">info@demolink.org</a></dd>
                    </dl>
                </address>

            </div>
        </li>
    </ul>
</div>
