<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/grid.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/camera.css" rel="stylesheet" />
    <link href="~/Content/google-map.css" rel="stylesheet" />
    <link href="~/Content/owl-carousel.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
    <script src="~/Scripts/rd-smoothscroll.min.js"></script>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="~/Scripts/device.min.js"></script>

</head>
<body>
    <div class="page">
        <!--
        ========================================================
                                  HEADER
        ========================================================


        -->
        <header>
            <div class="container">
                <div class="brand">
                    <h1 class="brand_name"><a href="./">Business</a></h1>
                    <p class="brand_slogan">Company</p>
                </div><a href="callto:#" class="fa-phone">800-2345-6789</a>
                <p>One of our representatives will happily contact you within 24 hours. For urgent needs call us at</p>
            </div>
            <div id="stuck_container" class="stuck_container">
                <div class="container">
                    <nav class="nav">
                        <ul data-type="navbar" class="sf-menu">
                            <li class="active">
                                <a href="./">Home</a>
                            </li>
                            <li>
                                <a href="index-1.html">About</a>
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Conse ctetur adipisicing</a></li>
                                    <li>
                                        <a href="#">
                                            Elit sed do eiusmod
                                            <ul>
                                                <li><a href="#">Lorem ipsum</a></li>
                                                <li><a href="#">Conse adipisicing</a></li>
                                                <li><a href="#">Sit amet dolore</a></li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li><a href="#">Incididunt ut labore</a></li>
                                    <li><a href="#">Et dolore magna</a></li>
                                    <li><a href="#">Ut enim ad minim</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="index-2.html">Services</a>
                            </li>
                            <li>
                                <a href="index-3.html">FAQS</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--
        ========================================================
                                    CONTENT
        ========================================================
        -->
        @RenderBody()
        <!--
             ========================================================
                                         FOOTER
             ========================================================
             -->
        
        
        <footer>
            <section class="well3">
                <div class="container">
                    <ul class="row contact-list">
                        <li class="grid_4">
                            <div class="box">
                                <div class="box_aside">
                                    <div class="icon2 fa-map-marker"></div>
                                </div>
                                <div class="box_cnt__no-flow">
                                    <address>4578 Marmora Road,Glasgow<br /> D04 89GR</address>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box_aside">
                                    <div class="icon2 fa-envelope"></div>
                                </div>
                                <div class="box_cnt__no-flow"><a href="mailto:#">info@demolink.org</a></div>
                            </div>
                        </li>
                        <li class="grid_4">
                            <div class="box">
                                <div class="box_aside">
                                    <div class="icon2 fa-phone"></div>
                                </div>
                                <div class="box_cnt__no-flow"><a href="callto:#">800-2345-6789</a></div>
                            </div>
                            <div class="box">
                                <div class="box_aside">
                                    <div class="icon2 fa-fax"></div>
                                </div>
                                <div class="box_cnt__no-flow"><a href="callto:#">800-2345-6790</a></div>
                            </div>
                        </li>
                        <li class="grid_4">
                            <div class="box">
                                <div class="box_aside">
                                    <div class="icon2 fa-facebook"></div>
                                </div>
                                <div class="box_cnt__no-flow"><a href="#">Follow on facebook</a></div>
                            </div>
                            <div class="box">
                                <div class="box_aside">
                                    <div class="icon2 fa-twitter"></div>
                                </div>
                                <div class="box_cnt__no-flow"><a href="#">Follow on Twitter</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="container">
                <div class="col-md-ofset-4 col-md-4">
                    <div class="map">
                        <div id="google-map" class="map_model" data-zoom="11"></div>
                        <ul class="map_locations">
                            <li data-x="-73.9874068" data-y="40.643180" data-basic="../images/gmap_marker.png" data-active="../images/gmap_marker_active.png">
                                <div class="location">
                                    <h3 class="txt-clr1">
                                        BUSINESS
                                        <small>
                                            COMPANY
                                        </small>
                                    </h3>
                                    <address>
                                        <dl>
                                            <dt>Free phone: </dt>
                                            <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                                        </dl>
                                        <dl>
                                            <dt>Address: </dt>
                                            <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                                        </dl>
                                        <dl>
                                            <dt>Hours: </dt>
                                            <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                                        </dl>
                                        <dl>
                                            <dt> E-mail: </dt>
                                            <dd><a href="mailto:#">info@demolink.org</a></dd>
                                        </dl>
                                    </address>

                                </div>
                            </li>
                            <li data-x="-74.100000" data-y="40.643180" data-basic="../images/gmap_marker2.png" data-active="../images/gmap_marker2_active.png">
                                <div class="location">
                                    <h3 class="txt-clr1">
                                        flooring
                                        <small>
                                            RETAILER
                                        </small>
                                    </h3>
                                    <address>
                                        <dl>
                                            <dt>Free phone: </dt>
                                            <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                                        </dl>
                                        <dl>
                                            <dt>Address: </dt>
                                            <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                                        </dl>
                                        <dl>
                                            <dt>Hours: </dt>
                                            <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                                        </dl>
                                        <dl>
                                            <dt> E-mail: </dt>
                                            <dd><a href="mailto:#">info@demolink.org</a></dd>
                                        </dl>
                                    </address>

                                </div>
                            </li>
                            <li data-x="-73.8854068" data-y="40.693180" data-basic="../images/gmap_marker3.png" data-active="../images/gmap_marker3_active.png">
                                <div class="location">
                                    <h3 class="txt-clr1">
                                        flooring
                                        <small>
                                            RETAILER
                                        </small>
                                    </h3>
                                    <address>
                                        <dl>
                                            <dt>Free phone: </dt>
                                            <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                                        </dl>
                                        <dl>
                                            <dt>Address: </dt>
                                            <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                                        </dl>
                                        <dl>
                                            <dt>Hours: </dt>
                                            <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                                        </dl>
                                        <dl>
                                            <dt> E-mail: </dt>
                                            <dd><a href="mailto:#">info@demolink.org</a></dd>
                                        </dl>
                                    </address>

                                </div>
                            </li>
                            <li data-x="-73.7874068" data-y="40.613180" data-basic="../images/gmap_marker4.png" data-active="../images/gmap_marker4_active.png">
                                <div class="location">
                                    <h3 class="txt-clr1">
                                        flooring
                                        <small>
                                            RETAILER
                                        </small>
                                    </h3>
                                    <address>
                                        <dl>
                                            <dt>Free phone: </dt>
                                            <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                                        </dl>
                                        <dl>
                                            <dt>Address: </dt>
                                            <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                                        </dl>
                                        <dl>
                                            <dt>Hours: </dt>
                                            <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                                        </dl>
                                        <dl>
                                            <dt> E-mail: </dt>
                                            <dd><a href="mailto:#">info@demolink.org</a></dd>
                                        </dl>
                                    </address>

                                </div>
                            </li>
                            <li data-x="-74.200000" data-y="40.683180" data-basic="../images/gmap_marker5.png" data-active="../images/gmap_marker5_active.png">
                                <div class="location">
                                    <h3 class="txt-clr1">
                                        flooring
                                        <small>
                                            RETAILER
                                        </small>
                                    </h3>
                                    <address>
                                        <dl>
                                            <dt>Free phone: </dt>
                                            <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                                        </dl>
                                        <dl>
                                            <dt>Address: </dt>
                                            <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                                        </dl>
                                        <dl>
                                            <dt>Hours: </dt>
                                            <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                                        </dl>
                                        <dl>
                                            <dt> E-mail: </dt>
                                            <dd><a href="mailto:#">info@demolink.org</a></dd>
                                        </dl>
                                    </address>

                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                    
                    <section>
                        <div class="container">
                            <div class="copyright">
                                Business Company © <span id="copyright-year"></span>.&nbsp;&nbsp;<a href="index-5.html">Privacy Policy</a>More Business Templates at <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=418&type=1" target="_blank">TemplateMonster.com</a>
                            </div>
                        </div>
                    </section>
        </footer>
           

        </div>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</body>
</html>
