<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/grid.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/camera.css" rel="stylesheet" />
    <link href="~/Content/google-map.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/owl-carousel.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
    <script src="~/Scripts/rd-smoothscroll.min.js"></script>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="~/Scripts/device.min.js"></script>

</head>
<body>
    <div class="page">
        @{
                Html.RenderAction("HeaderAreaResult", "Home");

            }
        <div></br>
        @RenderBody();
        </div>
            
        @{ 
            Html.RenderAction("FooterAreaResult", "Home");
        }

       

        
        
        </div>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
 
    
</body>
</html>
