/* datatables */
div.dataTables_length {
    text-align: left
}

    div.dataTables_length select {
        width: 75px
    }

div.dataTables_filter {
    text-align: right
}

    div.dataTables_filter label {
        float: none
    }

div.dataTables_info {
    padding-top: 8px
}

div.dataTables_paginate {
    float: right;
    margin: 0
}

.dataTables_wrapper {
    position: relative;
    overflow: hidden
}

    .dataTables_wrapper table.table {
        clear: both;
        margin-bottom: 6px !important;
        max-width: inherit
    }

        .dataTables_wrapper table.table thead .sorting, table.table thead .sorting_asc, table.table thead .sorting_desc, table.table thead .sorting_asc_disabled, table.table thead .sorting_desc_disabled {
            cursor: hand;
            cursor: pointer
        }

        .dataTables_wrapper table.table thead .sorting {
            background: #e9f3f8 url(../lib/datatables/images/sort_both.png) no-repeat center right
        }

        .dataTables_wrapper table.table thead .sorting_asc {
            background: #e9f3f8 url(../lib/datatables/images/sort_asc.png) no-repeat center right
        }

        .dataTables_wrapper table.table thead .sorting_desc {
            background: #e9f3f8 url(../lib/datatables/images/sort_desc.png) no-repeat center right
        }

        .dataTables_wrapper table.table thead .sorting_asc_disabled {
            background: #e9f3f8 url(../lib/datatables/images/sort_asc_disabled.png) no-repeat center right
        }

        .dataTables_wrapper table.table thead .sorting_desc_disabled {
            background: #e9f3f8 url(../lib/datatables/images/sort_desc_disabled.png) no-repeat center right
        }

    .dataTables_wrapper table.dataTable th:active {
        outline: none
    }

    .dataTables_wrapper .row {
        margin: 0 -10px 10px
    }

    .dataTables_wrapper select {
        min-height: inherit
    }

    .dataTables_wrapper table + .row {
        margin-bottom: 0;
        margin-top: 10px
    }

.dataTables_scrollBody {
    -webkit-overflow-scrolling: touch
}

.dataTables_wrapper .top, .dataTables_wrapper .bottom {
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    padding: 15px
}

.top .dataTables_info {
    float: none
}

.dataTables_empty {
    text-align: center !important;
    font-size: 15px;
    background: #fff !important;
    padding: 20px 0 !important
}

.dataTables_scroll {
    clear: both;
    margin-bottom: 10px
}

.dataTables_scrollHeadInner table.table-bordered {
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: none
}

    .dataTables_scrollHeadInner table.table-bordered, .dataTables_scrollHeadInner table.table-bordered thead {
        border-bottom: none
    }

.dataTables_scrollBody table {
    border-top: none
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 100;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    background: #fff;
    font-size: 15px !important;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    padding: 10px 0
}

.dataTables_wrapper .center {
    text-align: center
}

.dataTables_wrapper .details, .dataTables_wrapper .details:hover {
    background: #ddd !important
}

    .dataTables_wrapper .details table td {
        background: #fff !important
    }

    .dataTables_scrollHeadInner table.table, .dataTables_wrapper .details table.table {
        margin: 0 !important
    }

.dataTables_wrapper .dt_actions {
    float: left;
    margin-right: 20px
}

.dataTables_empty {
    cursor: default
}

.dTableR {
    width: 100% !important
}

.col_vis_menu {
    float: right
}

.dataTables_paginate {
    height: auto
}

.DTTT_collection_background {
    display: none
}

div.dataTables_length select {
    width: 60px;
    padding: 3px;
    border: none;
    font-size: 13px
}

div.dataTables_filter input {
    min-height: 26px;
    height: 26px;
    padding: 2px 8px;
    min-height: 20px;
    line-height: 20px;
    font-size: 13px;
    border: none;
    width: 170px
}

div.dataTables_length select,
div.dataTables_filter input {
    border: 1px solid #bbb
}

.dataTables_paginate .pagination {
    margin: 0
}
